* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0a0a0a;
  color: #fff;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(212,175,55,0.2);
  z-index: 999;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
/*LOGO*/
.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 1000;
  font-size: 28px;

  background: linear-gradient(135deg, #d4af37, #f1d77a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* compatibilidade */
  background-clip: text;
  color: transparent;
}
/*FIM LOGO*/
.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  text-transform: uppercase;
  
}


.menu a:hover {
  color: gold;
}

/* BUTTONS */
.btn-gold {
  background: linear-gradient(135deg, #d4af37, #f1d77a);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid gold;
  background: transparent;
  color: gold;
  padding: 10px 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./Imagens_Divino´s/Barbearia\ luxuosa\ e\ sofisticada.png");
  background-repeat:  no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
}

.hero span {
  color: gold;
}

.hero p {
  margin: 20px 0;
  color: #ccc;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* SERVICES */
.services {
  display: flex;
  gap: 30px;
  padding: 70px 0;
}

.card {
  flex: 1;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h3 {
  color: gold;
  margin-bottom: 10px;

}

/* ABOUT */
.about {
  display: flex;
  gap: 40px;
  padding: 80px 0;
  align-items: center;
}
/*inicio img*/
.about-img {
  position: relative;
  flex: 1;
  height: 550px;
background-size: cover;
background-position: center;
border-radius: 10px;
overflow: hidden;
}

.about-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* controla a sombra */
}
.about-img {
  position: relative;
  flex: 1;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
/*Fim img*/

.about-text {
  flex: 1;
}

.about h2 {
  font-family: 'Playfair Display', serif;
}

.about span {
  color: gold;
}

/* FOOTER */
footer {
  background: #050505;
  padding: 60px 0;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
}

footer h3, footer h4 {
  color: gold;
}

.copy {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #777;
}

.icon {
  width: 80px;
  height: 80px;
  background: gold;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

.icon-img {
  width: 60px;
  height: 60px;
}
/* BOTÃO WHATSAPP */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 70px;
  height: 70px;
  background:gold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: pulse 1.5s infinite;
  transition: transform 0.3s;
}

.whatsapp-btn img {
  width: 40px;
  height: 40px;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}
/*Fim BOTÃO WHATSAPP*/


/*iNICIO MENU*/
.nav-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 65px; /* mais compacto */
}

/* LOGO à esquerda */
.logo {
  justify-self: start;
  font-size: 18px;
}

/* MENU centralizado */
.menu {
  display: flex;
  justify-content: center;
  gap: 25px; /* espaço mais controlado */
}

.menu a {
  text-decoration: none;
  color: #ccc;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}

.menu a:hover {
  color: gold;
}

/* BOTÃO à direita */
.nav-btn {
  justify-self: end;
}

.btn-gold {
  background: linear-gradient(135deg, #d4af37, #f1d77a);
  border: none;
  padding: 7px 16px;
  font-size: 13px;
  font-weight: 670;
  border-radius: 15px; /* mais elegante */
  cursor: pointer;
  transition: 0.3s;
}
.nav-btn {
  justify-self: end;
  width: auto;
}
.btn-gold {
  display: inline-flex; /* 🔥 melhor que inline-block */
  align-items: center;
  justify-content: center;

  text-decoration: none;
  text-align: center;

  background: linear-gradient(135deg, #d4af37, #f1d77a);
  color: black;

  padding: 8px 18px;
  font-size: 13px;
  font-weight: 600;

  border-radius: 20px;
  cursor: pointer;

  transition: 0.3s;
}


.btn-gold:hover {
  transform: scale(0.5);
}
.navbar {
  padding: 0 10px;
}

.menu a {
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: gold;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}
/*Fim MENU*/










/*melhoras visuais*/
.navbar {
  transition: 0.3s;
}
.btn-gold {
  transition: 0.3s;
}

.btn-gold:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.btn-outline:hover {
  background: gold;
  color: black;
}

html {
  scroll-behavior: smooth;

}
.card {
  padding: 20px;
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: gold;
}